@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  --image-width: 1200px;
  background: linear-gradient(45deg, #fdfdfd, #add5e7);
  min-height: 100vh;
}

.home, .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 10;
}

.home h1 {
  font-size: 2.6rem;
  text-decoration: underline;
  color: #FF0000;
}

.home img
{
  border-radius: 8px;
  border: 3px dashed #1e75d9;
  width: var(--image-width);
}

.home a {
  color: #FF0000;
  font-size: 1.1rem;
  margin-top: 3px;
  max-width: 90%;
  overflow: hidden;
}

.home .button-group {
  margin-top: 2rem;
}

.effect {
  position: absolute;
  border-radius: 0px;
  border: none;
  width: 78.1875rem;
  
  left: calc(50% - 30rem);
  top: 0;
  opacity: 0.3;
  background: linear-gradient(#9089fc, #ff80b5);
  transform: translate(-50%, 0) rotate(30deg);
  aspect-ratio: 1155/678;
  filter: blur(10rem);
  z-index: 1;
}

a.button {
  --button-opacity: 1;
  border-radius: 0.3rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.8rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
  background-color: rgb(80 75 220 / var(--button-opacity));
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.2s;
  max-width: 100%;
}

a.button:hover {
  --button-opacity: 0.8;
  transition: background-color 0s;
}

a.button svg {
  fill: white;
  width: 2rem;
}

/*
 * Pagina Atividade CSS
 * atividade-pastas/src/estrutura/atividade_css/att.html
*/
.att {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.rainbow {
  width: 50%;
  height: fit-content;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  font-size: 3rem;
}

.rainbow span {
  --transform: translateX(0%);
  background-color: var(--color);
  color: #FFF;
  padding: 1rem 0.8rem;
  border-radius: 0.8rem;

  width: fit-content;

  box-shadow: 2px 2px 3px 0px var(--color);
  transform: var(--transform);

  animation:
    rainbow-start 0.4s ease-in var(--delay) both,
    bounce 0.8s ease-in-out calc(var(--delay) + 0.5s) infinite;
}

.rainbow span:nth-child(1) {
  --transform: translateX(0px);
  --color: #ef4444;
  --delay: 0s;
}

.rainbow span:nth-child(2) {
  --transform: translateX(10%);
  --color: #f97316;
  --delay: 0.2s;
}

.rainbow span:nth-child(3) {
  --transform: translateX(30%);
  --color: #f59e0b;
  --delay: 0.4s;
}

.rainbow span:nth-child(4) {
  --transform: translateX(50%);
  --color: #eab308;
  --delay: 0.6s;
}

.rainbow span:nth-child(5) {
  --transform: translateX(70%);
  --color: #84cc16;
  --delay: 0.8s;

}

.rainbow span:nth-child(6) {
  --transform: translateX(90%);
  --color: #22c55e;
  --delay: 1s;

}

.rainbow span:nth-child(7) {
  --transform: translateX(110%);
  --color: #10b981;
  --delay: 1.2s;
}

.go-back {
  width: fit-content;
  margin: 0 18%;
  margin-top: 30px;
}

.separated-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.separated-images .image {
  --image: url('../images/');
  --transform: translateX(0);
  --delay: 0s;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.3rem;
  width: 300px;
  height: 300px;
  animation: bounce 1.2s ease-in-out calc(var(--delay) + 1s) infinite;
}

.separated-images .image:nth-child(1) {
  --image: url('../images/carnaval.jpg');
  --delay: 0s;
}

.separated-images .image:nth-child(2) {
  --image: url('../images/pascoa.webp');
  --delay: 0.2s;
}


.separated-images .image:nth-child(3) {
  --image: url('../images/halloween.avif');
  --delay: 0.4s;
}

.separated-images .image:nth-child(4) {
  --image: url('../images/natal.avif');
  --delay: 0.6s;
}

.carousel {
  width: 100%;
  justify-content: center;
  overflow: hidden;
  margin-top: 4rem;
}

.slide {
  display: flex;
  width: fit-content;
  transform: translateX(0%);
  animation: carousel-effect 30s infinite linear;
}

.carousel .image {
  width: 600px;
  height: 600px;
}


@keyframes rainbow-start {
  from {
    transform: translateX(0%) rotate(4deg);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: var(--transform) rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: var(--transform) translateY(0%);
  }

  50% {
    transform: var(--transform) translateY(-5%);
  }

  100% {
    transform: var(--transform) translateY(0%);
  }
}

@keyframes carousel-effect {
  from {
    transform: translateX(0%);
  }
  
  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 56%;
  }

  body {
    --image-width: 90%;
  }
}

@media screen and (min-width: 400px) {
  body {
    --image-width: 300px;
  }
}

@media screen and (min-width: 800px) {
  body {
    --image-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    --image-width: 600px;
  }
}
